@import url("font.css");

@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: #161514;
  --grey-color: #a3a3a3;
  --white-color: #ffffff;

  --grey-color: #a5a5a5;

  --link-hover-color: dodgerblue !important;

  font-size: 1em;
  font-family: "Gilroy";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: 0;
}

.body {
  background-color: var(--dark-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(
    circle at bottom right,
    #ff0000,
    #200d0d 12%,
    #0e0e0e 100%
  );
}

.nav-box {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-left {
  width: 120px;
  margin-left: 40px;
  color: var(--white-color);
  font-size: 1.8rem;
  align-self: center;
}

.nav-right {
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.nav-link a {
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
}

.nav-btn {
  align-self: right;
  width: 40px;
  height: 60px;
  margin: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.nav-btn img {
  width: 80%;
  margin-left: 5px;
}

.line {
  color: var(--grey-color);
}

.cercles-box {
  display: flex;
  flex-direction: row;
  width: 110%;
  margin-left: -5%;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}

.cercle {
  content: "";
  width: 675px;
  height: 675px;
  border-radius: 50%;
  border: solid 6px var(--grey-color);
}

.texts-box {
  position: absolute;
  z-index: 4;
  top: 90px;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left-text {
  width: 59%;
  height: calc(80vh - 180px);
  font-size: 12rem;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  color: var(--white-color);
}

.right-text {
  height: calc(80vh - 90px);
  font-size: 12rem;
  font-weight: 500;
  text-transform: uppercase;
  align-items: end;
  display: flex;
  color: var(--white-color);
}

.bubble-box {
  position: absolute;
  z-index: 6;
  top: 90px;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 180px);
  flex-direction: row;
  align-items: center;
}

.bubble {
  background: linear-gradient(
    135deg,
    rgba(37, 32, 32, 0.8),
    rgba(12, 8, 8, 0.8)
  );
  width: 600px;
  height: 600px;
  border-radius: 50%;
}

/* Objects */

.objects-box {
  width: 100%;
  height: 80%;
  margin-top: 20vh;
  position: absolute;
  z-index: 8;
  top: 0;
}

[class^="object-"] {
  width: 240px;
  position: absolute;
}

[class^="object-"] img {
  width: 70%;
  transition: .5s linear;
}

[class^="object-"] img:hover {
  width: 100%;

}

.object-1  {
  top: -90px;
  left: 50px;
}


.object-2{
  left: 22%;
}

.object-3 {
  right: 0;
  top: -100px;
}

.object-4 {
  top: 0;
  left: 59%;
}

.object-5 {
  bottom: 0;
  left: 45%;
}


.bg {
  width: 100%;
  height: 90vh;
  margin-top: 5vh;
  /* background: url(./img/setting.png); */
  background: url(https://www.oag.ok.gov/sites/g/files/gmc766/f/virus_cell_outlined.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  animation: animBG cubic-bezier(0.075, 0.82, 0.165, 1) 1     2s;
}

@keyframes animBG {
  0% {
    background-size: 10%;
  }
  25% {
    background-size: 20%;
  }
  50% {
    background-size: 30%;
  }
  75% {
    background-size: 40%;
  }
  
  100% {
    background-size: contain;
  }
  
}

.lists {
  width: 35%;
  height: 30vh;
  padding-left: 20px;
  font-size: 3.8rem;
  color: var(--grey-color);
  cursor: pointer;
}

.lists li:hover {
  color: white;
}

.desc-box {
  margin-left: 30%;
  width: 35%;
  height: 20vh;
  display: flex;
  flex-direction: row;
}

.desc-box > p {
  font-size: 1.3rem;
  color: var(--white-color);
}

.desc-box .asterix {
  align-self: center;
  width: 290px;
  height: auto;
  font-size: 14rem;
  text-align: center;
}

.link {
  width: auto;
  margin-left: 70%;
  align-self: flex-end;
}

.link a {
  color: var(--white-color);
  font-size: 3rem;
  font-weight: bold;
  text-decoration: underline;
  transition:  ease-out .6s;
  padding: 8px 12px;
}

.link a:hover {
  background-color: var(--grey-color);
  background-color: #0e0e0e;
  color: dodgerblue;
  border-bottom-right-radius: 25px;
}


.top-content {
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.big-title {
  font-size: 14rem;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 100;
}

.top-content .asterix {
  font-size: 14rem;
  color: white;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto 20px;
}

.box {
  width: 24%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: .8s linear;
}

.box:hover {
  background-color: var(--white-color);
}

.box-title {
  color: var(--white-color);
  font-size: 2.5rem;
  transition: .8s linear;
}

.box:hover > .box-title {
  color: black;
}

.box-desc {
  opacity: 0;
  font-size: 1.2rem;
  transition: .8s linear;
}

.box:hover > .box-desc {
  opacity: 1;
  color: var(--grey-color);
}

.icon-box {
  width: 80%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.small-icon {
  border-radius: 50%;
  border: solid 2px var(--white-color);
  width: 25px;
  height: 25px;
  text-align: center;
  align-self: end;
  transition: .8s linear;
}

.box:hover > .icon-box .small-icon {
  border: solid 2px black;
  background-color: black;
}

.small-icon span {
  opacity: 0;
  transition: .8s linear;
}

.box:hover > .icon-box .small-icon span {
  opacity: 1;
  color: var(--white-color);
}

.big-icon {
  opacity: 0;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  transition: 1.6s linear;

}

.box:hover > .icon-box .big-icon {
  opacity: 1;
}

.vertical-line {
  width: 2px;
  height: 50vh;
  background-color: var(--white-color);
}


.trips-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trips-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cercle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cercle span {
  opacity: 0;
  color: var(--white-color);
}

.trips-box:hover > .cercle span {
  opacity: 1;
}

.trips-title {
  color: var(--white-color);
  font-size: 1.8rem;
}

.trips-img {
  min-width: 280px ;
  height: 140px;
}

.trips-img img {
  height: 100%;
  opacity: 0;
}

.trips-box:hover .trips-img img {
  opacity: 1;
}

.trips-desc {
  color: var(--white-color);

}

.horizontal-line {
  margin: 14px 12%;
  width: auto;
  height: 4px;
  background-color: var(--white-color);
}